<div class="grid grid-cols-6 gap-2">
    <button mat-flat-button
            color="primary"
            (click)="incluirPessoa()">
        Incluir Pessoa
    </button>

    <div class="col-span-6 card">
        <div class="card-header"
             [ngClass]="{'card-header-checkout': checkInSelecionado, 'card-header': !checkInSelecionado}">
            {{ textoTitulo }}
        </div>
        <div class="card-body">
            <form [formGroup]="checkinForm" class="grid grid-cols-4 gap-2" (ngSubmit)="novoCheckIn()">
                <mat-form-field class="w-full">
                    <mat-label>Data de Entrada</mat-label>
                    <input matInput [matDatepicker]="dataEntrada" formControlName="dataEntrada" autocomplete="off"
                           name="dataEntrada">
                    <mat-datepicker-toggle matSuffix [for]="dataEntrada"></mat-datepicker-toggle>
                    <mat-datepicker #dataEntrada></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Hora de Entrada</mat-label>
                    <input type="time"
                           matInput
                           formControlName="horaEntrada">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Data de Saída</mat-label>
                    <input matInput [matDatepicker]="dataSaida" formControlName="dataSaida" autocomplete="off"
                           name="dataEntrada">
                    <mat-datepicker-toggle matSuffix [for]="dataSaida"></mat-datepicker-toggle>
                    <mat-datepicker #dataSaida></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Hora de Saída</mat-label>
                    <input type="time"
                           matInput
                           formControlName="horaSaida">
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Hóspede</mat-label>
                    <mat-select formControlName="pessoa">
                        @for (hospede of hospedes; track hospede.id) {
                            <mat-option [value]="hospede">{{ hospede.nome + ' - CPF: ' }} {{ hospede.cpf | cpf }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [checked]="this.possuiVeiculo" (change)="trocaPossuiVeiculo()" color="primary"
                              class="col-span-2">
                    Possui Veículo
                </mat-checkbox>

                <button mat-flat-button
                        color="primary"
                        [disabled]="checkinForm.invalid"
                        type="submit">
                    Salvar
                </button>

                <button mat-stroked-button
                        color="secondary"
                        type="reset"
                        (click)="resetaFormulario()">
                    Limpar
                </button>
            </form>
        </div>
    </div>

    <div class="col-span-6 card">
        <div class="card-header">
            Consultas
        </div>
        <div class="card-body grid grid-cols-6">
            <form class="col-span-3" [formGroup]="filtroForm">
                <mat-form-field class="w-full">
                    <mat-select formControlName="filtro">
                        <mat-option value="">Todos</mat-option>
                        <mat-option value="semDataSaida">Hóspedes presentes</mat-option>
                        <mat-option value="comDataSaida">Hóspedes passados</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <mat-table class="col-span-6" [dataSource]="checkInsDataSource">
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        {{ item.pessoa.nome }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        {{ item.pessoa.cpf | cpf }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valordevido">
                    <mat-header-cell *matHeaderCellDef>Valor Devido</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        {{ item.valorDevido | currency: 'BRL' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valorgasto">
                    <mat-header-cell *matHeaderCellDef>Valor Gasto</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        {{ item.valorGasto | currency: 'BRL' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="opcoes">
                    <mat-header-cell *matHeaderCellDef>Opções</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button mat-button color="primary"
                                [matTooltip]="'Processar checkout'"
                                [disabled]="item.valorDevido == 0"
                                (click)="selecionaCheckIn(item)">
                            <mat-icon>credit_score</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
                <mat-row *matRowDef="let linha; columns: colunas;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>
