.card {
    border: 1px solid #5c83fa;
    border-radius: 5px;
}

.card-header {
    background-color: #5c83fa;
    padding: 0.5rem;
    color: white;
    font-size: 1.1em;
}

.card-header-checkout {
    background-color: #6adc9b;
    padding: 0.5rem;
    color: white;
    font-size: 1.1em;
}

.card-body {
    padding: 0.5rem;
}
